.Home-Page {
    width: 100%;
    display: flex;
}
.homeimg{
    width: 390px;
    height: 390px;
}
.viewBook{
    text-decoration: none;
}
.viewBook:hover{
    color:white;
}

@media screen and (max-width: 992px) {
    .home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        margin-top: 20px;
    }
    .homeimg-box{
        display: flex;
    }
}
@media screen and (min-width: 992px) {
    .home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;  
        margin-top: 20px;
    }
    
    .homeimg-box{
        display: flex;
    }
}
